
:root {
    --light: 255, 255, 255;
    --dark: 0, 0, 0;
}

/*  */

body, h1, h2, h3, h4, h5, h6, p, nav, ul, figure, a, button { margin: 0px; padding: 0px; }
figure { line-height: 0px; }
a, button { text-decoration: none !important; cursor: pointer !important; }

[data-mobile-block], [data-mobile-flex] { display: none !important; }

@media (max-width: 768px) {

    [data-desktop] { display: none !important; }
    [data-mobile-block] { display: block !important; }
    [data-mobile-flex] { display: flex !important; }
    .container { width: 100%; margin: 0px; padding: 0px !important; }
}

[data-ajax-loader] {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

[data-ajax-loader] > div.loader {
    width: 2em;
    height: 2em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    pointer-events: none;
    border: 1em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    color: #e0e0e0;
    -webkit-animation: 1s loader linear infinite;
            animation: 1s loader linear infinite;
}

[data-ajax-loader] > div.loader:before {
    width: inherit;
    height: inherit;
    top: -1em;
    left: -1em;
    position: absolute;
    display: block;
    content: '';
    border: 1em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/*  */

/* @font-face {
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat-Regular.ttf");
}

body * {
    font-family: 'Montserrat-Regular' !important;
}

.fa, .far, .fas {
    font-family: 'Font Awesome 5 Free' !important;
}

.fab {
    font-family: 'Font Awesome 5 Brands' !important;
} */

/*  */

#desktop_menu.down {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #000 !important;
}

#desktop_menu.down .btn.btn-dark {
    background-color: #fff !important;
    color: #000 !important;
}

@media (max-width: 768px) {

    #mobile_menu.open {
        left: 0px !important;
    }
}

/*  */

h1, h2 {
    font-size: 48px !important;
    font-weight: 700 !important;
}

@media (max-width: 768px) {

    h1, h2 {
        font-size: 28px !important;
    }
}

h3, h4, p {
    font-size: 18px !important;
    font-weight: 200 !important;
}

@media (max-width: 768px) {

    h3, h4, p {
        font-size: 16px !important;
    }
}

h5, h6 {
    font-size: 16px !important;
    font-weight: 200 !important;
}

@media (max-width: 768px) {

    h5, h6 {
        font-size: 12px !important;
    }
}
